/*Last Update:2019.12.28
  Author:山口 鼓太郎
  E-mail:M011831355@edu.teu.ac.jp */

.subTitle{}

.page-header{
  background-color: #a2a2a2;
}

.main-nav{
  display: flex;
  font-size: 1.25rem;
  margin-top: 30px;
  list-style-type: none;
}

.main-nav li{
  margin-left: 30px;
}

.main-nav li.item:after{
  content: '';
  width: 0;
  transition: all 1s ease;
  border-bottom: 3px solid #000;
  display: block;
}

.main-nav li.item:hover:after {
  width: 100%;
  border-bottom: 3px solid #000;
}

.main-nav a{
  text-decoration: none;
  color: #0b0b0b;
  background-color: #b8934f;
}

.main-nav a:hover{
  color: #ff2e34;
  background-color: #a3cad2;
  transition: color 0.5s 0.8ms;
}

.toggle-link{

}

.toggle-box {
  border: 1px solid #aaaaaa;
  margin: 10px;
  padding: 10px;
  display: none;
}

.page-header{
  display: flex;
  justify-content: space-between;
}

.purpose{
  display: flex;
  /*justify-content: space-between;*/
}

#home{
  background-color: #d6ce9d;
  /*background-image: url(sign.png);*/
  background-repeat: no-repeat;
  background-position: 100px;
  min-height: 70vh;
  background-size: contain;
  width: 65%;
}

.big-bg img{
  width: 500px;
  margin-left: 130px;
  margin-top: 50px;
}

.profile{
  width: 20%;
  margin-top: 50px;
  margin-left: 8%;
  padding: 10px;
  /*background-color: #0A50FF;*/
  position: relative;
}

.myAccount{
  background-color: #668289;
  border-radius: 20px;
  width: 80%;
  height: 30%;
  padding: 10%;
  text-align: center;
  font-size: 2em;
}

.myAccount span{
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 10px;
  display: block;
  margin: 0 auto;
}

.grid{
  list-style-type: none;
  text-align: center;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(240px,1fr));
}

.grid img{
  width: 70%;
}

.find{
  text-align: center;
}

h2{
  color: darkolivegreen;
  clear: left;
}

.wrapper{
  margin: 0 auto;
  padding: 0 4%;
  max-width: 1170px;
}

.myFavorites{
  display: flex;
  justify-content: center;
}

.category{
  list-style-type: none;
  display: flex;
  background-color: #6d748d;
  /*justify-content: center;*/
}

.category li{
  margin-left: 150px;
  background-color: #8c4d5a;
}

.sarcasm{color: goldenrod;}

.real{text-decoration: line-through;}

table{
  font-family: "ＭＳ 明朝", serif;
  border-collapse: collapse;
  border: 3px solid #0c2033;
}

td{
  border: 1px solid #0c2033;
  padding: 8px;
  background-color: #f9eabb;
}

th{
  border: 1px solid;
  background-color: #8ab8c2;
}

.bottomMenu{
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.found{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
