/*Last Update:2019.12.16
  Author:山口 鼓太郎
  E-mail:M011831355@edu.teu.ac.jp */

.subTitle{}

.main-nav{
  display: flex;
  font-size: 1.25rem;
  margin-top: 30px;
  list-style-type: none;
}

.main-nav li{
  margin-left: 30px;
}

.main-nav a{
  text-decoration: none;
  color: #0b0b0b;
}

.main-nav a:hover{
  color: #f6f4ff;
}

.page-header{
  display: flex;
  justify-content: space-between;
}

h2{
  color: darkolivegreen;
  clear: left;
}

.wrapper{
  margin: 0 auto;
  padding: 0 4%;
  max-width: 1170px;
}

.category{list-style-type: circle;}

.sarcasm{color: goldenrod;}

.real{text-decoration: line-through;}

table{
  font-family: "ＭＳ 明朝", serif;
  border-collapse: collapse;
  border: 3px solid #0c2033;
}

td{
  border: 1px solid #0c2033;
  padding: 8px;
  background-color: #f9eabb;
}

th{
  border: 1px solid;
  background-color: #8ab8c2;
}

.bottomMenu{
  list-style-type: none;
  display: flex;
  justify-content: center;
}

