/*Last Update:2020.1.14
  Author:山口 鼓太郎
  E-mail:M011831355@edu.teu.ac.jp */

html{
  background-color: #fff8e7;
}

.subTitle{
  font-family: "ＭＳ ゴシック", serif;
  font-weight: bold;
  font-size: 2em;
  color: #ffd92e;
  text-stroke: 1px #ffffff;
  -webkit-text-stroke: 1px #ffffff;
}

.page-header{
  background-color: #ffffff;
  /*width: 1500px;*/
  /*position: fixed;*/
}

.main-nav{
  display: flex;
  font-size: 1.25rem;
  margin-top: 30px;
  list-style-type: none;
}

.main-nav li{
  margin-left: 30px;
}

.main-nav li.item:after{
  content: '';
  width: 0;
  transition: all 1s ease;
  border-bottom: 3px solid #ff2d21;
  display: block;
}

.main-nav li.item:hover:after {
  width: 100%;
  border-bottom: 3px solid #ff2d21;
}

.main-nav a{
  text-decoration: none;
  color: #ffffff;
  text-stroke: 1px #000;
  -webkit-text-stroke: 1px #000;
  background-color: #ffffff;
}

.main-nav a:hover{
  color: #000000;
  text-stroke: 1px #060606;
  -webkit-text-stroke: 1px #000000;
  background-color: #ffffff;
  transition: color 0.5s 0.8ms;
}

.toggle-link{

}

.toggle-box {
  border: 1px solid #aaaaaa;
  margin: 0px;
  padding: 0px;
  display: none;
}

.page-header{
  display: flex;
  justify-content: space-between;
  /*width: 100%;*/
}

.purpose{
  display: flex;
  /*justify-content: space-between;*/
}


#home{
  /*background-color: #d6ce9d;*/
  /*background-image: url(sign.png);*/
  background-repeat: no-repeat;
  background-position: 100px;
  min-height: 100px;
  background-size: contain;
  width: 65%;
}

.myFavorites{
  margin-top: 10%;
}

.big-bg img{
  width: 500px;
  margin-left: 130px;
  margin-top: 50px;
  /*min-height: 30px;*/
}

.big-bg img:hover{
  opacity: 0.75;
}

.profile{
  width: 20%;
  margin-top: 50px;
  margin-left: 8%;
  padding: 10px;
  /*background-color: #0A50FF;*/
  position: relative;
}

.night{
  border-bottom: 1px rgb(134, 134, 134) dashed;
}

.myAccount{
  background-color: #bdd5ff;
  border-radius: 20px;
  width: 80%;
  height: 30%;
  padding: 10%;
  text-align: center;
  font-size: 2em;
}

.myAccount span{
  font-size: 1rem;
  border-top: 1px rgb(134, 134, 134) solid;
  padding-top: 10px;
  display: block;
  margin: 0 auto;
}


.grid{
  list-style-type: none;
  text-align: center;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(240px,1fr));
}

.grid img{
  width: 70%;
}

.grid img:hover{
  opacity: 0.75;
}

.list{
  list-style-type: none;
  text-align: center;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(240px,1fr));
}

.list img{
  width: 80%;
  height: 170px;
}

.list img:hover{
  opacity: 0.75;
}

.find{
  text-align: center;
  margin-top: 5%;
}

h2{
  color: darkolivegreen;
  clear: left;
}

.wrapper{
  margin: 0 auto;
  padding: 0 4%;
  max-width: 1170px;
}

.myFavorites{
  display: flex;
  justify-content: center;
}

.category{
  list-style-type: none;
  /*display: flex;*/
  /*justify-content: space-between;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.category img{
  width: 100px;
  margin-left: 110px;
}

.category img:hover{
  opacity: 0.5;
}

.sarcasm{color: goldenrod;}

.real{text-decoration: line-through;}

table{
  font-family: "ＭＳ 明朝", serif;
  border-collapse: collapse;
  border: 3px solid #0c2033;
}

td{
  border: 1px solid #0c2033;
  padding: 8px;
  background-color: #f9eabb;
}

th{
  border: 1px solid;
  background-color: #8ab8c2;
}

.bottomMenu{
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.found{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}


#return-top {
  background-color: #d6833d;
  border-radius: 50%;
  bottom: 10px;
  color: #fff;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  outline: 0;
  position: fixed;
  right: 10px;
  text-align: center;
  width: 50px;
}

#return-top:hover{
  opacity: 0.6;
}

.copyright{
  font-size: 20px;
  text-align: center;
  margin: 5%;
  color: white;
}

footer{
  background-color: #0c2033;
}